body {
    padding: 0%;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row1 {
    background: #222222;
    width: 100%;
    height: 60px;
}

.padding {
    padding: 10px;
}

.row2 {
    width: 100%;
    height: 500px;
    display: flex;
}

.a {
    text-decoration: none;
    margin: 9%;
}

.row3 {
    background: #555555;
    width: 100%;
    height: 50px;
}

.colunm1 {
    height: 500px;
    background: #f1f1f1;
}

.colunm2 {
    height: 500px;
}

.colunm3 {
    height: 500px;
    background: #f1f1f1;
}

.button {
    min-height: 50px;
    width: 49px;
    background: #222222;
    border: none;
    color: white;
}

.b {
    float: inline-end;
    position: relative;
    left: -26px;
    top: 18px;
    color: white;
    text-decoration: none;
}


/* man hinh cho dien thoai */

@media only screen and (max-width:740px) {
    .col-s-1 {
        width: 8.33333%;
    }
    .col-s-2 {
        width: 16.66667%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33333%;
    }
    .col-s-5 {
        width: 41.66667%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33333%;
    }
    .col-s-8 {
        width: 66.66667%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33333%;
    }
    .col-s-11 {
        width: 91.66667%;
    }
    .col-s-12 {
        width: 100%;
    }
}


/*Màn hinh laptop và máy tính bảng*/

@media only screen and (min-width:741px)and (max-width:1240px) {
    .col-m-1 {
        width: 8.33333%;
    }
    .col-m-2 {
        width: 16.66667%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33333%;
    }
    .col-m-5 {
        width: 41.66667%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33333%;
    }
    .col-m-8 {
        width: 66.66667%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33333%;
    }
    .col-m-11 {
        width: 91.66667%;
    }
    .col-m-12 {
        width: 100%;
    }
}


/*Màn hình máy tính pc và tivi smart*/

@media only screen and (min-width:1241px) {
    .col-l-1 {
        width: 8.33333%;
    }
    .col-l-2 {
        width: 16.66667%;
    }
    .col-l-3 {
        width: 25%;
    }
    .col-l-4 {
        width: 33.33333%;
    }
    .col-l-5 {
        width: 41.66667%;
    }
    .col-l-6 {
        width: 50%;
    }
    .col-l-7 {
        width: 58.33333%;
    }
    .col-l-8 {
        width: 66.66667%;
    }
    .col-l-9 {
        width: 75%;
    }
    .col-l-10 {
        width: 83.33333%;
    }
    .col-l-11 {
        width: 91.66667%;
    }
    .col-l-12 {
        width: 100%;
    }
}